.form-group
  = f.label :title
  = f.text_field :title
.form-group
  = f.label :text
  = f.text_area :text
.form-group
  = f.label :seo_title
  = f.text_field :seo_title
.form-group
  = f.label :seo_meta
  = f.text_field :seo_meta
.form-group
  = f.checkbox :visibility
  = f.label :visibility