- provide(:title, "#{t('admin.pages.edit_page').capitalize} #{@page.title}")
%h2
  = t('admin.pages.edit_page')
= form_for @page, url: admin_page_path(@page) do |f|
  = render 'layouts/validation_errors', model: @page
  = render 'page_fields', f: f
  .form-group
    = f.submit t('admin.common.save'), class: 'btn btn-primary'
    = link_to t('admin.common.delete'), admin_page_path(@page), class: 'btn btn-danger', method: :delete, data: {confirm: t('admin.common.confirm')}
