.single-form
  %h2.text-center
    #{t('devise.forms.heading.edit_profile')}
  .row
    .col-md-4.col-md-offset-4
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f|
        = render 'layouts/validation_errors', :model => resource
        .form-group
          = f.label :email
          = f.email_field :email, :autofocus => true, :class => 'form-control'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          .form-group
            #{t('devise.confirmations.waiting_for_confirmation')}: #{resource.unconfirmed_email}
        .form-group
          = f.label :password
          %i ( #{t('devise.passwords.leave_blank_instructions')} )
          = f.password_field :password, :autocomplete => "off", :class => 'form-control'
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, :class => 'form-control'
        .form-group
          = f.label :current_password
          %i ( #{t('devise.passwords.current_password_confirm_instructions')} )
          = f.password_field :current_password, :class => 'form-control'
        .form-group
          = f.submit t('devise.forms.submit.update'), :class => 'btn btn-primary'
      = link_to t('devise.forms.submit.back'), :back
