%h1 Dashboard
.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title Recent orders
      .panel-body
        - @orders.each do |order|
          %li
            %span.text-muted= time_tag order.created_at
            %p
              = link_to "Order ##{order.id}", admin_order_path(order)
              = number_to_currency order.total_price
              = label_span order.shipment.aasm.human_state if order.shipment
              = label_span order.invoice.aasm.human_state if order.invoice
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title Recent updates
      .panel-body
        - @updates.each do |update|
          %li
            %span.text-muted= time_tag update.created_at
            %p
              = link_to "Order ##{update.order_id}", admin_order_path(id: update.order_id)
              %strong= update.event_type
              - if update.state_changed?
                = label_span update.to_state
              = update.note unless update.note.blank?
