- provide(:title, t('admin.brands'))
%h2
  = t('admin.brands')
  (#{@brands.count})  #{link_to t('admin.create_new'), new_admin_brand_path, class: 'btn btn-primary'}
%table.table.table-hover
  %thead
    %tr
      %th Id
      %th Name
      %th Description
      %th Products count
      %th Created
      %th Updated
  %tbody
    - @brands.each do |c|
      %tr
        %td= c.id
        %td= link_to truncate(c.name), admin_brand_path(c)
        %td= truncate c.description
        %td= c.products.count
        %td= c.created_at.to_formatted_s(:short)
        %td= c.updated_at.to_formatted_s(:short)
= will_paginate @brands, renderer: BootstrapPagination::Rails
