- provide(:title, "#{t('admin.brand')} #{@brand.name}")
%h2
  = t('admin.brand')
  = @brand.name
%dl
  %dt Name
  %dd= @brand.name
  %dt Description
  %dd= @brand.description
  %dt Products count
  %dd= @brand.products.count
  %dt Created
  %dd= @brand.created_at
  %dt Updated
  %dd= @brand.updated_at
  = link_to t('admin.edit'), edit_admin_brand_path, class: 'btn btn-default'
  = link_to t('admin.destroy'), admin_brand_path, class: 'btn btn-danger', method: :delete, data: {confirm: t('admin.confirm')}
