<% provide(:title, "#{t('admin.brand')} #{@brand.name}") %>
<h2><%= t('admin.brand') %> <%= @brand.name  %> </h2>
<dl>
  <dt>Name</dt>
  <dd><%= @brand.name %></dd>
  <dt>Description</dt>
  <dd><%= @brand.description %></dd>
  <dt>Products count</dt>
  <dd><%= @brand.products.count %></dd>
  <dt>Created</dt>
  <dd><%= @brand.created_at %></dd>
  <dt>Updated</dt>
  <dd><%= @brand.updated_at %></dd>
  <%= link_to t('admin.edit'), edit_admin_brand_path, class: 'btn btn-default' %>
  <%= link_to t('admin.destroy'), admin_brand_path, class: 'btn btn-danger', method: :delete, data: {confirm: t('admin.confirm')}  %>
</dl>
