%h2= t('devise.forms.heading.resend_unlock')
= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email, :autofocus => true
  %div= f.submit t('devise.forms.links.resend_unlock')
= render "devise/shared/links"
