#order-panel.panel.panel-default
  .panel-heading
    .btn-group
      = link_to glyphicon('glyphicon-chevron-left'), admin_order_path(@order.previous || ''),
                class: "btn btn-xs btn-default #{@order.previous.blank? && 'disabled'}"
      = link_to glyphicon('glyphicon-chevron-right'), admin_order_path(@order.next || ''),
                class: "btn btn-xs btn-default #{@order.next.blank? && 'disabled'}"

  .panel-body
    .order-items
      .order-details
        = form_for @order, remote: true, url: admin_order_path(@order) do |form|
          %dl.dl-horizontal
            %dt State
            %dd= select_for_states "order[aasm_state]", @order
            %dt Placed at
            %dd= time_tag @order.created_at
            %dt Updated at
            %dd= time_tag @order.updated_at
            %dt Payment
            %dd= select_for_states "order[invoice_attributes][aasm_state]", @order.invoice, disabled: !@order.in_progress?
            %dt Shipment
            %dd= select_for_states "order[shipment_attributes][aasm_state]", @order.shipment, disabled: !@order.in_progress?
            %dt Customer's order note
            %dd= x_editable_for @order, admin_order_path(@order), field: :note
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Price
            %th Total
        %tbody
          - @order.order_items.each do |item|
            %tr
              %td= link_to item.product.name, admin_product_path(id: item.product_id)
              %td
                = number_to_currency item.price
                \&times;
                \#{item.quantity}
              %td= number_to_currency(item.price * item.quantity)
          %tr
            %td
            %td
            %td= number_to_currency @order.total_price
