.panel.panel-default
  .panel-heading
    .btn-group
      - if @order.previous.blank?
        = link_to '<i class="glyphicon glyphicon-chevron-left"></i>'.html_safe, '', class: 'btn btn-default disabled'
      - else
        = link_to '<i class="glyphicon glyphicon-chevron-left"></i>'.html_safe, admin_order_path(@order.previous), class: 'btn btn-default'
      - if @order.next.blank?
        = link_to '<i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, '', class: 'btn btn-default disabled'
      - else
        = link_to '<i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, admin_order_path(@order.next), class: 'btn btn-default'
    - unless @order.canceled?
      .btn-group
        = link_to 'Ready to ship',                                         
          admin_order_shipment_event_path(id: @order.id, event: :prepare), 
          method: :post,                                                   
          class: 'btn btn-default' if @order.shipment.can_prepare?         
        = link_to 'Ship order',                                         
          admin_order_shipment_event_path(id: @order.id, event: :ship), 
          method: :post,                                                
          class: 'btn btn-default' if @order.shipment.can_ship?         
        = link_to 'Return shipment',                                      
          admin_order_shipment_event_path(id: @order.id, event: :return), 
          method: :post,                                                  
          data: {confirm: t('admin.confirm')},                            
          class: 'btn btn-default' if @order.shipment.can_return?         
      .btn-group
        = link_to 'Mark as paid',                                     
          admin_order_invoice_event_path(id: @order.id, event: :pay), 
          method: :post,                                              
          class: 'btn btn-default' if @order.invoice.can_pay?         
        = link_to 'Refund payment',                                      
          admin_order_invoice_event_path(id: @order.id, event: :refund), 
          method: :post,                                                 
          data: {confirm: t('admin.confirm')},                           
          class: 'btn btn-default' if @order.invoice.can_refund?         
    .btn-group.pull-right
      = link_to 'Cancel',                                      
        admin_order_event_path(id: @order.id, event: :cancel), 
        method: :post,                                         
        data: {confirm: t('admin.confirm')},                   
        class: 'btn btn-default' if @order.can_cancel?         
      = link_to 'Resume',                                      
        admin_order_event_path(id: @order.id, event: :resume), 
        method: :post,                                         
        data: {confirm: t('admin.confirm')},                   
        class: 'btn btn-default' if @order.can_resume?         
  .panel-body
    .order-items
      .order-details
        %dl.dl-horizontal
          %dt State
          %dd= label_span @order.human_state_name
          %dt Placed at
          %dd= time_tag @order.created_at
          %dt Updated at
          %dd= time_tag @order.updated_at
          %dt Payment
          %dd
            = label_span @order.invoice.human_state_name
          %dt Shipment
          %dd= label_span @order.shipment.human_state_name
          %dt Customer's order note
          %dd= @order.note
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Price
            %th Total
        %tbody
          - @order.order_items.each do |item|
            %tr
              - puts item.inspect
              %td= link_to item.product.name, admin_product_path(id: item.product_id)
              %td
                = number_to_currency item.price
                \&times;
                \#{item.quantity}
              %td= number_to_currency(item.price * item.quantity)
          %tr
            %td
            %td
            %td= number_to_currency @order.total_price