#order-panel.panel.panel-default
  .panel-heading
    .btn-group
      = link_to glyphicon('glyphicon-chevron-left'), admin_order_path(@order.previous),
                class: "btn btn-default #{@order.previous.blank? && 'disabled'}"
      = link_to glyphicon('glyphicon-chevron-right'), admin_order_path(@order.next),
                class: "btn btn-default #{@order.next.blank? && 'disabled'}"
    - unless @order.canceled?
      .btn-group
        - @order.shipment.aasm.events.each do |event_name|
          = shipment_event_link @order, event_name
      .btn-group
        - @order.invoice.aasm.events.each do |event_name|
          = invoice_event_link @order, event_name
    .btn-group.pull-right
      - @order.aasm.events.each do |event_name|
        = order_event_link @order, event_name

  .panel-body
    .order-items
      .order-details
        %dl.dl-horizontal
          %dt State
          %dd= label_span @order.aasm.human_state
          %dt Placed at
          %dd= time_tag @order.created_at
          %dt Updated at
          %dd= time_tag @order.updated_at
          %dt Payment
          %dd
            = label_span @order.invoice.aasm.human_state
          %dt Shipment
          %dd= label_span @order.shipment.aasm.human_state
          %dt Customer's order note
          %dd= x_editable_for @order, admin_order_path(@order), field: :note
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Price
            %th Total
        %tbody
          - @order.order_items.each do |item|
            %tr
              %td= link_to item.product.name, admin_product_path(id: item.product_id)
              %td
                = number_to_currency item.price
                \&times;
                \#{item.quantity}
              %td= number_to_currency(item.price * item.quantity)
          %tr
            %td
            %td
            %td= number_to_currency @order.total_price
