#order-activity.order-history
  %h4#timeline History
  %ul.timeline
    - @order.order_histories.each do |events|
      %li
        .timeline-badge= glyphicon 'glyphicon-check'
        .timeline-panel
          .timeline-heading
            %h4.timeline-title= events.attribute_name
            %p
              %small.text-muted
                = glyphicon 'glyphicon-time'
                = time_tag events.created_at, format: '%H:%M'
          .timeline-body
            - unless events.attribute_name.blank?
              = events.attribute_name
              = events.to_name
            = events.note unless events.note.blank?
            - if events.user
              %em (#{link_to events.user.full_name, admin_user_path(events.user) })
  = form_for OrderHistory.new, url: admin_order_order_histories_path(order_id: @order.id) do |f|
    .form-group
      = f.text_area :note, placeholder: "Enter your note here...", class: 'form-control'
    .form-group.pull-right
      = f.submit "Add note", class:'btn btn-primary'
