.panel.panel-default
  .panel-heading
    .btn-group
      - if @order.previous.blank?
        = link_to glyphicon('glyphicon-chevron-left'), '', class: 'btn btn-default disabled'
      - else
        = link_to glyphicon('glyphicon-chevron-left'), admin_order_path(@order.previous), class: 'btn btn-default'
      - if @order.next.blank?
        = link_to glyphicon('glyphicon-chevron-right'), '', class: 'btn btn-default disabled'
      - else
        = link_to glyphicon('glyphicon-chevron-right').html_safe, admin_order_path(@order.next), class: 'btn btn-default'
    - unless @order.canceled?
      .btn-group
        = link_to 'Ready to ship', event_admin_order_shipment_path(@order, name: :prepare),
          method: :post, class: 'btn btn-default' if @order.shipment.may_prepare?
        = link_to 'Ship order', event_admin_order_shipment_path(@order, name: :ship),
          method: :post, class: 'btn btn-default' if @order.shipment.may_ship?
        = link_to 'Return shipment', event_admin_order_shipment_path(@order, name: :return),
          method: :post, data: {confirm: t('admin.common.confirm')},
          class: 'btn btn-default' if @order.shipment.may_return?
      .btn-group
        = link_to 'Mark as paid', event_admin_order_invoice_path(@order, name: :pay),
          method: :post, class: 'btn btn-default' if @order.invoice.may_pay?
        = link_to 'Refund payment', event_admin_order_invoice_path(@order, name: :refund),
          method: :post, data: {confirm: t('admin.common.confirm')},
          class: 'btn btn-default' if @order.invoice.may_refund?
    .btn-group.pull-right
      = link_to 'Cancel', event_admin_order_path(@order, name: :cancel),
        method: :post, data: {confirm: t('admin.common.confirm')},
        class: 'btn btn-default' if @order.may_cancel?
      = link_to 'Resume', event_admin_order_path(@order, name: :resume),
        method: :post, data: {confirm: t('admin.common.confirm')},
        class: 'btn btn-default' if @order.may_resume?
  .panel-body
    .order-items
      .order-details
        %dl.dl-horizontal
          %dt State
          %dd= label_span @order.aasm.human_state
          %dt Placed at
          %dd= time_tag @order.created_at
          %dt Updated at
          %dd= time_tag @order.updated_at
          %dt Payment
          %dd
            = label_span @order.invoice.aasm.human_state
          %dt Shipment
          %dd= label_span @order.shipment.aasm.human_state
          %dt Customer's order note
          %dd= x_editable_for @order, admin_order_path(@order), field: :note
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Price
            %th Total
        %tbody
          - @order.order_items.each do |item|
            %tr
              %td= link_to item.product.name, admin_product_path(id: item.product_id)
              %td
                = number_to_currency item.price
                \&times;
                \#{item.quantity}
              %td= number_to_currency(item.price * item.quantity)
          %tr
            %td
            %td
            %td= number_to_currency @order.total_price
