<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-group">
          <% if @order.previous.blank? %>
            <%= link_to '<i class="glyphicon glyphicon-chevron-left"></i>'.html_safe, '', class: 'btn btn-default disabled' %>
          <% else %>
            <%= link_to '<i class="glyphicon glyphicon-chevron-left"></i>'.html_safe, admin_order_path(@order.previous), class: 'btn btn-default' %>
          <% end %>
          <% if @order.next.blank? %>
            <%= link_to '<i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, '', class: 'btn btn-default disabled' %>
          <% else %>
            <%= link_to '<i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, admin_order_path(@order.next), class: 'btn btn-default' %>
          <% end %>
        </div>
        <% unless @order.canceled? %>
          <div class="btn-group">
            <%= link_to 'Ready to ship', 
                        admin_order_shipment_event_path(id: @order.id, event: :prepare), 
                        method: :post, 
                        class: 'btn btn-default' if @order.shipment.can_prepare? %>
            <%= link_to 'Ship order', 
                        admin_order_shipment_event_path(id: @order.id, event: :ship),
                        method: :post, 
                        class: 'btn btn-default' if @order.shipment.can_ship? %>
            <%= link_to 'Return shipment',
                        admin_order_shipment_event_path(id: @order.id, event: :return), 
                        method: :post, 
                        data: {confirm: t('admin.confirm')}, 
                        class: 'btn btn-default' if @order.shipment.can_return? %>
          </div>
          <div class="btn-group">
            <%= link_to 'Mark as paid', 
                        admin_order_invoice_event_path(id: @order.id, event: :pay), 
                        method: :post, 
                        class: 'btn btn-default' if @order.invoice.can_pay? %>
            <%= link_to 'Refund payment', 
                        admin_order_invoice_event_path(id: @order.id, event: :refund), 
                        method: :post, 
                        data: {confirm: t('admin.confirm')}, 
                        class: 'btn btn-default' if @order.invoice.can_refund? %>
          </div>
        <% end %>
        <div class="btn-group pull-right">
            <%= link_to 'Cancel', 
                        admin_order_event_path(id: @order.id, event: :cancel), 
                        method: :post, 
                        data: {confirm: t('admin.confirm')}, 
                        class: 'btn btn-default' if @order.can_cancel? %>
            <%= link_to 'Resume', 
                        admin_order_event_path(id: @order.id, event: :resume), 
                        method: :post, 
                        data: {confirm: t('admin.confirm')}, 
                        class: 'btn btn-default' if @order.can_resume? %>
          </div>
      </div>
      <div class="panel-body">
        <div class="order-items">
          <div class="order-details">
            <dl class="dl-horizontal">
              <dt>State</dt>
              <dd><%= label_span @order.human_state_name %></dd>
              <dt>Placed at</dt>
              <dd><%= time_tag @order.created_at %></dd>
              <dt>Updated at</dt>
              <dd><%= time_tag @order.updated_at %></dd>
              <dt>Payment</dt>
              <dd><%= label_span @order.invoice.human_state_name %></span></dd>
              <dt>Shipment</dt>
              <dd><%= label_span @order.shipment.human_state_name %></dd>
              <dt>Customer's order note</dt>
              <dd><%= @order.note %></dd>
            </dl>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% @order.order_items.each do |item| %>
                <tr>
                  <td><%= link_to item.product.name, admin_product_path(id: item.product_id)  %></td>
                  <td><%= number_to_currency item.price %>
                    &times;
                    <%= item.quantity %></td>
                  <td><%= number_to_currency(item.price * item.quantity) %></td>
                </tr>
              <% end %>
              <tr>
                <td></td>
                <td></td>
                <td><%= number_to_currency @order.total_price %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="order-history">
      <h4>History</h4>
      <% @order.order_histories.group_by { |x| x.created_at.to_date }.each do |history_group| %>
        <strong><%= time_tag history_group.first %></strong>
        <div class="panel panel-default">
          <div class="panel-body">
          <ul>
            <% history_group.last.each do |history| %>
              <li>
              <span><%= time_tag history.created_at, format: '%H:%M' %></span>
              <% unless history.attribute_name.blank? %>                
                <strong><%= history.attribute_name %></strong>
                  <%= label_span history.to_name %>
              <% end %>
              <%= history.note unless history.note.blank? %>
              </li>
            <% end %>
          </ul>
          </div>
        </div>
      <% end %>
      <%= form_for OrderHistory.new, url: admin_order_order_histories_path(order_id: @order.id) do |f| %>
        <div class="form-group">
          <%= f.text_area :note, placeholder: "Enter your note here...", class: 'form-control' %>
        </div>
        <div class="form-group pull-right">
          <%= f.submit "Add note", class:'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">Shipping address</span>
        <%= link_to t('admin.edit'), '#' %>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Name</dt>
          <dd><%= link_to @order.user.full_name, admin_user_path(id: @order.user.id) %></dd>
          <dt>Phone</dt>
          <dd><%= number_to_phone @order.address.phone %></dd>
          <dt>Email</dt>
          <dd><%= mail_to @order.user.email %></dd>
          <dt>Address</dt>
          <dd>
            <%= @order.address.city %>
            <br>
            <%= @order.address.street %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
