#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand= link_to t('admin.common.admin_panel'), admin_path
    %li= nav_link_to glyphicon('glyphicon-inbox', text: "#{t('admin.sidebar.orders')} #{badge_span(unfulfilled_orders_count)}"), admin_orders_path, inclusive: true
    %li= nav_link_to glyphicon('glyphicon-th-large', text: t('admin.sidebar.products')), admin_products_path, inclusive: true
    %li= nav_link_to glyphicon('glyphicon-tasks', text: t('admin.sidebar.categories')), admin_categories_path, inclusive: true
    %li= nav_link_to glyphicon('glyphicon-tags', text: t('admin.sidebar.brands')), admin_brands_path, inclusive: true
    %li= nav_link_to glyphicon('glyphicon-user', text: t('admin.sidebar.users')), admin_users_path, inclusive: true
    %li= nav_link_to glyphicon('glyphicon-file', text: t('admin.sidebar.pages')), admin_pages_path, inclusive: true
    %li= nav_link_to glyphicon('glyphicon-new-window', before_text: t('admin.sidebar.open_store')), store_index_path, target:'_blank'
