.single-form
  %h2.text-center= t('devise.forms.heading.change_your_password')
  .row
    .col-md-4.col-md-offset-4
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
        = render 'layouts/validation_errors', :model => resource
        = f.hidden_field :reset_password_token
        .form-group
          = f.label :password, t('devise.forms.label.new_password')
          = f.password_field :password, :autofocus => true, :class => 'form-control'
        .form-group
          = f.label :password_confirmation, t('devise.forms.label.confirm_new_password')
          = f.password_field :password_confirmation, :class => 'form-control'
        .form-group
          = f.submit t('devise.forms.submit.change_my_password'), :class => 'btn btn-primary'
      = render "devise/shared/links"
