<h2>
  <%= t('store.thanks_for_your_order_message') %>
</h2>
<div class="order-success">
  <%= @order.user.first_name %>, <%= t('store.we_have_received_your_order_text') %>

</div>
<br />
<div class="order-info">
  <h4><%= t('store.order_details') %></h4>
<%= render @order %>
</div>