<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 id="cart-modal-title" class="modal-title">Your cart (<%= @cart.cart_items.count %>)</h3>
</div>
<div class="modal-body">
  <div id="cart-items">
  <% if @cart.empty? %>
  <h4><%= t('store.cart_empty_message') %></h4>
  <% else %>  
    <table class="table hover">
      <thead>
        <tr>
          <th><%= t('common.name') %></th>
          <th><%= t('common.price') %></th>
          <th><%= t('common.quantity') %></th>
          <th><%= t('common.total') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart.cart_items.each do |item| %>
          <tr>
            <td><%= item.product.name %></td>
            <td><%= number_to_currency item.product.price %></td>
            <td>
              <%= link_to '<i class="glyphicon glyphicon-minus"></i>'.html_safe,
                          cart_item_decrease_path(item),
                          method: :post,
                          remote: true,
                          class: 'btn btn-xs btn-default' %>
              <%= item.quantity %>
              <%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe,
                          cart_item_increase_path(item),
                          method: :post,
                          remote: true,
                          class: 'btn btn-xs btn-default' %>
            </td>
            <td><%= number_to_currency(item.product.price * item.quantity) %></td>
            <td><%= link_to "Remove", cart_item_path(item), remote: true, method: :delete, class: 'btn btn-danger btn-xs' %></td>
          </tr>
        <% end %>
        <tr>
          <td><%= t('common.total') %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= number_to_currency @cart.total_price %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <button type="button" data-dismiss="modal"  class="btn btn-default">Continue shopping</button>
  <% unless @cart.empty? %>
    <%= link_to t('store.checkout'), new_order_path, class: 'btn btn-success' %>
  <% end %>
</div>
