.form-group
  = f.label :name
  = f.text_field :name, class: 'form-control'
.form-group
  = f.label :description
  = f.text_area :description, class: 'form-control'
.form-group
  = f.check_box :brand_filter_enabled
  = f.label :brand_filter_enabled
.form-group
  = f.check_box :attribute_filter_enabled
  = f.label :attribute_filter_enabled
.form-group
  = f.check_box :active
  = f.label :active