- provide(:title, t('admin.categories.categories'))
%h2
  = t('admin.categories.categories')
  (#{@categories.count})  #{link_to t('admin.common.create_new'), new_admin_category_path, class: 'btn btn-primary'}
%table.table.table-hover
  %thead
    %tr
      %th Id
      %th Name
      %th Description
      %th Products count
      %th Active
      %th Created
      %th Updated
  %tbody#sortable{ data: { 'sort-url' => order_admin_categories_path } }
    = cache @categories do
      - @categories.each do |category|
        = cache category do
          %tr{ data: { id: category.id } }
            %td
              = glyphicon('glyphicon-resize-vertical')
              = link_to "##{category.id}", admin_category_path(category)
            %td= link_to truncate(category.name), admin_category_path(category)
            %td= truncate category.description
            %td= category.products.count
            %td
              - if category.active?
                = label_span t('admin.categories.active'), type: 'success'
              - else
                = label_span t('admin.categories.inactive')
            %td= category.created_at.to_formatted_s(:short)
            %td= category.updated_at.to_formatted_s(:short)

= will_paginate @categories, renderer: BootstrapPagination::Rails
