- provide(:title, t('admin.categories.create_category'))
%h2 Create category
= form_for @category, url: admin_categories_path do |f|
  = render 'layouts/validation_errors', model: @category
  = render 'admin/categories/category_fields', f: f
  .form-group
    = f.submit t('admin.common.save'), class: 'btn btn-primary'
    = link_to t('admin.common.cancel'), admin_categories_path, class: 'btn btn-default'
