- provide(:title, "#{t('admin.categories.edit_category').capitalize} #{@category.name}")

.panel.panel-default
  .panel-heading
    %h3.panel-title
      = t('admin.categories.edit_category')
  .panel-body
    = form_for @category, url: admin_category_path(@category) do |f|
      = render 'layouts/validation_errors', model: @category
      = render 'admin/categories/category_fields', f: f
      .form-group
        = f.submit t('admin.common.save'), class: 'btn btn-primary'
        = link_to t('admin.common.cancel'), admin_category_path(@category), class: 'btn btn-default'

.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t('admin.product_attribute_names.attributes')
      .panel-body
        = form_for ProductAttributeName.new, url: admin_category_product_attribute_names_path(category_id: @category.id), html: {class: 'form-inline'} do |f|
          %ul#sortable.list-group{ data: { 'sort-url' => order_admin_category_product_attribute_names_path(category_id: @category.id) } }
            - @category.product_attribute_names.each do |attribute|
              %li.list-group-item{ data: { id: attribute.id } }
                = glyphicon('glyphicon-resize-vertical')
                = attribute.name
                - if attribute.filterable?
                  %em (filterable)
                .pull-right
                  = link_to 'Delete', admin_category_product_attribute_name_path(id: attribute.id, category_id: @category.id), |
                    method: :delete,                                                                                      |
                    class: 'btn btn-xs btn-danger',                                                                       |
                    data: {confirm: t('admin.common.confirm')}

          .form-group
            = f.text_field :name, class: 'form-control'
            = f.check_box :filterable
            = f.label :filterable
          .pull-right
            = f.submit t('admin.product_attribute_names.add_product_attribute'), class: 'btn btn-default'
