- provide(:title, t('admin.products.product_list'))
%h2
  = t('admin.products.product')
  (#{@products.count})  #{link_to t('admin.common.create_new'), new_admin_product_path, class: 'btn btn-primary'}
.panel-body
  = search_form_for @q, html: {class: 'form-inline'}, url: admin_products_path do |f|
    .form-group
      = f.text_field :name_cont, placeholder: 'Name contains', class: 'form-control'
    .form-group
      = f.text_field :description_cont, placeholder: 'Description contains', class: 'form-control'
    .form-group
      = f.text_field :price_gteq, placeholder: 'Price min', class: 'form-control'
    .form-group
      = f.text_field :price_lteq, placeholder: 'Price max', class: 'form-control'
    .form-group
      = f.submit class: 'btn btn-default'
  %table.table.table-hover
    %thead
      %tr
        %th Id
        %th Name
        %th Description
        %th Price
        %th Category
        %th Brand
        %th Active
        %th Created
        %th Updated
    %tbody
      - @products.each do |p|
        %tr
          %td= link_to "##{p.id}", admin_product_path(p)
          %td= link_to truncate(p.name), admin_product_path(p)
          %td= truncate p.description
          %td= number_to_currency p.price
          %td= link_to p.category.try(:name), admin_category_path(p.category) unless p.category.nil?
          %td= link_to p.brand.try(:name), admin_brand_path(p.brand) unless p.brand.nil?
          %td
            - if p.active?
              = label_span t('admin.products.active'), type: 'success'
            - else
              = label_span t('admin.products.active')
          %td= p.created_at.to_formatted_s(:short)
          %td= p.updated_at.to_formatted_s(:short)
  = will_paginate @products, renderer: BootstrapPagination::Rails
