%h2= t('admin.products.create_product')
= form_for @product, url: :admin_products do |f|
  = render 'layouts/validation_errors', model: @product
  = render 'product_fields', f: f
  .form-group
    = f.submit t('admin.common.create'), class: 'btn btn-primary'
    = link_to t('admin.common.cancel'), admin_products_path, class: 'btn btn-default'
