= cache products do
  - products.each_slice(3) do |row|
    .row
      - row.each do |product|
        = cache product do
          .col-md-4
            .thumbnail
              %a{href: seo_product_path(product, product.seo_name)}
                - if product.images.any?
                  = image_tag product.images.first.image.url(:medium), class: 'media-object', alt: product.name
              .caption
                %h3= link_to product.name, seo_product_path(product, product.seo_name)
                %p= highlight(truncate(product.description, length: 150), search_query)
                - unless product.in_stock?
                  %product.text-muted= t('store.out_of_stock')
                %p
                  - if product.in_stock?
                    %strong= number_to_currency product.price
                    = link_to t('store.add_to_cart_button_text'), cart_items_path(product_id: product.id), class: 'btn btn-success', remote: true, method: :post
                  - else
                    %strong.text-muted= number_to_currency product.price
                    = link_to t('store.more_info'), seo_product_path(product, product.seo_name), class: 'btn btn-default'

= will_paginate products, renderer: BootstrapPagination::Rails
