- products.each_slice(3) do |row|
  .row
    - row.each do |p|
      .col-md-4
        .thumbnail
          %a{href: seo_product_path(p, p.seo_name)}
            - if p.images.any?
              = image_tag p.images.first.image.url(:medium), class: 'media-object', alt: p.name
          .caption
            %h3= link_to p.name, seo_product_path(p, p.seo_name)
            %p= highlight(truncate(p.description, length: 150), search_query)
            - unless p.in_stock?
              %p.text-muted= t('store.out_of_stock')
            %p
              - if p.in_stock?
                %strong= number_to_currency p.price
                = link_to t('store.add_to_cart_button_text'), cart_items_path(product_id: p.id), class: 'btn btn-success', remote: true, method: :post
              - else
                %strong.text-muted= number_to_currency p.price
                = link_to t('store.more_info'), seo_product_path(p, p.seo_name), class: 'btn btn-default'

= will_paginate products, renderer: BootstrapPagination::Rails
