= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder
%h1= @category.name
.row
  - if @category.filters_enabled?
    .col-md-2
      - if @category.brand_filter_enabled?
        %ul.attributes-list
          = t('store.brand')
          - @category.brands.group_by(&:name).map { |k,v| [v.first, v.length] }.each do |brand_group|
            %li
              %input{type: "checkbox", checked: brand_filter_active?(brand_group[0]), class: 'attribute-filter'}
              - if brand_filter_active?(brand_group[0])
                = brand_filter_link brand_group[0], category_id: @category.id, class: 'filter-link-active'
              - else
                = brand_filter_link brand_group[0], category_id: @category.id
      - if @category.attribute_filter_enabled?
        - @category.product_attribute_names.each do |product_attribute|
          %ul.attributes-list
            = product_attribute.name
            - product_attribute.product_attribute_values.group_by(&:value).map { |k,v| [v.first, v.length] }.each do |attribute_value_group|
              - unless attribute_value_group[0].blank?
                %li
                  %input{type: "checkbox", checked: attribute_filter_active?(attribute_value_group[0]), class: 'attribute-filter'}
                  - if attribute_filter_active?(attribute_value_group[0])
                    = attribute_filter_link attribute_value_group[0],
                      category_id: @category.id,
                      class: 'filter-link-active'
                  - else
                    = attribute_filter_link attribute_value_group[0], category_id: @category.id
    .col-md-9
      = cache @category.products do
        = render 'products_grid', products: @category.products
  - else
    = cache @category.products do
      = render 'products_grid', products: @category.products
