- provide(:title, t('admin.users.users'))
%h2
  = t('admin.users.users')
  (#{@users.count})

%table.table.hover
  %thead
    %tr
      %th= t('admin.common.id')
      %th= t('admin.users.email')
      %th= t('admin.users.full_name')
      %th= t('admin.users.register_date')
      %th= t('admin.orders.orders_total')
  %tbody
    = cache @users do
      - @users.each do |user|
        = cache user do
          %tr
            %td= link_to "##{user.id}", admin_user_path(user)
            %td
              = mail_to user.email
              = label_span "Admin", type: 'success' if user.admin?
            %td= user.full_name
            %td= time_tag user.created_at
            %td= user.orders.map {|x| x.total_price}.inject(:+) || '—'
= will_paginate @isers, renderer: BootstrapPagination::Rails
