%h3
  = @user.full_name
  = label_span "Admin", type: 'success' if @user.admin?
  %small= mail_to @user.email
%dl.dl-horizontal
  %dt= t('user.phone')
  %dd= number_to_phone @user.phone
  %dt= t('admin.created_at')
  %dd= time_tag @user.created_at
  %dt= t('admin.updated_at')
  %dd= time_tag @user.updated_at
  %dt= t('user.sign_in_count')
  %dd= @user.sign_in_count
  %dt= t('user.last_sign_in_at')
  %dd= @user.last_sign_in_at
  %dt= t('user.last_sign_in_ip')
  %dd
    = @user.last_sign_in_ip
    = link_to('whois',                                                                                       |
      "http://www.infobyip.com/ip-#{@user.last_sign_in_ip}.html", target: "_blank") if @user.last_sign_in_ip |
%table.table.table-hover
  %thead
    %tr
      %th Order
      %th Placed at
      %th Payment status
      %th Fulfillment status
      %th Total
  %tbody
    - @user.orders.each do |order|
      %tr{:class => "order-#{order.state_name}"}
        %td= link_to "##{order.id}", admin_order_path(order)
        %td= time_tag order.created_at
        %td
          = label_span order.invoice.human_state_name, type: order.invoice.paid? ? 'default' : 'warning'
        %td
          = label_span order.shipment.human_state_name, type: order.shipment.shipped? ? 'default' : 'warning'
        %td= number_to_currency order.total_price
