- products.each_slice(3) do |row|
  .row
    - row.each do |p|
      .col-md-4
        .thumbnail
          %a{:href => product_seo_path(p, p.seo_name)}
            = if p.images.any? then image_tag p.images.first.image.url(:medium), class: 'media-object', alt: p.name  else holder_tag '300x200' end
          .caption
            %h3= p.name
            %p= truncate p.description, length: 150
            %p
              %strong
                = number_to_currency p.price
              = link_to t('store.add_to_cart_button_text'), cart_items_path(product_id: p.id), class: 'btn btn-success', remote: true, method: :post
= will_paginate products, renderer: BootstrapPagination::Rails
