<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder %>

<h1><%= @presenter.category.name %></h1>
<div class="row">

	<% if @presenter.product_attributes.any? || @presenter.brands.any? %>
		<div class="col-md-2">			
			<ul class="nav nav-pills nav-stacked">	
				<li><%= t('store.brand') %></li>	  
				<% @presenter.brands.each do |brand| %>
					<li class="<%= "active" if brand_filter_active?(brand) %>">
						<%= brand_filter_link brand, category_id: @presenter.category.id %>
					</li>
				<% end %>
			</ul>
			
			<% @presenter.product_attributes.each do |product_attribute| %>
				<ul class="nav nav-pills nav-stacked">		  
					<%= product_attribute.name %>
					<% product_attribute.product_attribute_values.group_by(&:value).each do |attribute_value_group| %>
						<% unless attribute_value_group[0].blank? %>						
							<li class="<%= "active" if attribute_filter_active?(attribute_value_group[1].first) %>">
								<%= attribute_filter_link attribute_value_group[1].first, 
														  count: attribute_value_group[1].count, 
														  category_id: @presenter.category.id %>
							</li>												
						<% end %>					
					<% end %>
				</ul>
			<% end %>
		</div>	
		<div class="col-md-9">
			<%= render 'products_grid', products: @presenter.products %>
		</div>
	<% else %>
		<%= render 'products_grid', products: @presenter.products %>
	<% end %>
</div>

