<nav id="navbar" class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
        <span class="sr-only"><%= t('common.toggle_menu') %>Toggle navigation</span>
      </button>
      <%= link_to t('common.store_name'), root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to t('common.shipping_and_payment'), shipping_path %></li>
        <li><%= link_to t('common.about_shop'), about_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= render 'layouts/user_widget' %></li>
      </ul>
    </div>
  </div>
</nav>