%nav#second-navbar.navbar.navbar-default{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => "#second-navbar-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only= t('common.toggle_menu')
  #second-navbar-collapse.collapse.navbar-collapse
    %ul.nav.navbar-nav
      - active_categories.each do |category|
        - if category.children.active.any?
          %li.dropdown
            = link_to category.name, seo_category_path(category, category.seo_name), class: 'dropdown-toggle',
              data: { toggle: 'dropdown' }, role: 'button'
            %ul.dropdown-menu
              - category.children.active.each do |children|
                %li= link_to children.name, seo_category_path(children, children.seo_name)
              %li.divider
              %li= link_to t('views.layout.second_menu.show_all'), seo_category_path(category, category.seo_name)

        - else
          %li{class: current_page?(seo_category_path(category, category.seo_name))  && 'active'}
            = link_to category.name, seo_category_path(category, category.seo_name)
