%li
  - if cart_widget_visible?
    = link_to cart_items_path, remote: true do
      = glyphicon('glyphicon-shopping-cart', text: t('store.my_cart_link_text') + ' ' + badge_span(current_cart.cart_items.count, id: 'cart-items-count'))
- if user_signed_in?
  - if current_user.try(:admin)
    %li
      = link_to t('admin.common.admin_panel'), admin_path
  %li{class: current_page?(edit_user_registration_path) && 'active'}
    = link_to t('common.profile'), edit_user_registration_path
  %li
    = link_to t('common.sign_out'), destroy_user_session_path
- else
  - unless AppConfig.authentication_disabled
    %li{class: current_page?(new_user_session_path) && 'active'}
      = link_to t('common.sign_in'), new_user_session_path
