!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      = render 'layouts/header'
      = render 'layouts/cart_modal'
      #tophead.row
        .col-md-2.col-xs-6
          = link_to image_tag('logo.gif'), root_path
        .col-md-3.col-md-offset-1.col-xs-6
          #header-contacts.lead
            %i.glyphicon.glyphicon-earphone
            (063) 415-04-27
        .col-md-6.col-xs-12
          = render 'layouts/search_form'
      .clearfix.visible-xs
      = render 'layouts/second_menu'
      = render 'layouts/flash'
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
